Webservices/factureWS.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2211="http://exception.meg.tn/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.meg.tn" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2213="http://dto.meg.tn/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.meg.tn">
    <wsdl:documentation>factureWS</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2214="http://dto.meg.tn/xsd" xmlns:ax2212="http://exception.meg.tn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.meg.tn">
            <xs:import namespace="http://exception.meg.tn/xsd"/>
            <xs:import namespace="http://dto.meg.tn/xsd"/>
            <xs:element name="factureWSServerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ServerException" nillable="true" type="ax2211:ServerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="factureWSDataNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DataNotFoundException" nillable="true" type="ax2211:DataNotFoundException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFactureOrdinaire">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="matriculeAdh" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numPolice" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="page" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFactureOrdinaireResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2214:FactureDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFacture">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="matriculeAdh" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numPolice" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="page" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchFactureResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2214:SearchFacturePsWsDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.meg.tn/xsd">
            <xs:complexType name="FactureDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beneficiare" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateVisite" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="idPs" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="mntRestePayer" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="mntTicktModerateur" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="nomPs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="specialite" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchFacturePsWsDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="facturePs" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="nbrTotal" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.meg.tn/xsd">
            <xs:complexType name="ServerException">
                <xs:complexContent>
                    <xs:extension base="xs:RuntimeException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="DataNotFoundException">
                <xs:complexContent>
                    <xs:extension base="xs:RuntimeException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="searchFactureRequest">
        <wsdl:part name="parameters" element="ns:searchFacture"/>
    </wsdl:message>
    <wsdl:message name="searchFactureResponse">
        <wsdl:part name="parameters" element="ns:searchFactureResponse"/>
    </wsdl:message>
    <wsdl:message name="factureWSServerException">
        <wsdl:part name="parameters" element="ns:factureWSServerException"/>
    </wsdl:message>
    <wsdl:message name="factureWSDataNotFoundException">
        <wsdl:part name="parameters" element="ns:factureWSDataNotFoundException"/>
    </wsdl:message>
    <wsdl:message name="searchFactureOrdinaireRequest">
        <wsdl:part name="parameters" element="ns:searchFactureOrdinaire"/>
    </wsdl:message>
    <wsdl:message name="searchFactureOrdinaireResponse">
        <wsdl:part name="parameters" element="ns:searchFactureOrdinaireResponse"/>
    </wsdl:message>
    <wsdl:portType name="factureWSPortType">
        <wsdl:operation name="searchFacture">
            <wsdl:input message="ns:searchFactureRequest" wsaw:Action="urn:searchFacture"/>
            <wsdl:output message="ns:searchFactureResponse" wsaw:Action="urn:searchFactureResponse"/>
            <wsdl:fault message="ns:factureWSServerException" name="factureWSServerException" wsaw:Action="urn:searchFacturefactureWSServerException"/>
            <wsdl:fault message="ns:factureWSDataNotFoundException" name="factureWSDataNotFoundException" wsaw:Action="urn:searchFacturefactureWSDataNotFoundException"/>
        </wsdl:operation>
        <wsdl:operation name="searchFactureOrdinaire">
            <wsdl:input message="ns:searchFactureOrdinaireRequest" wsaw:Action="urn:searchFactureOrdinaire"/>
            <wsdl:output message="ns:searchFactureOrdinaireResponse" wsaw:Action="urn:searchFactureOrdinaireResponse"/>
            <wsdl:fault message="ns:factureWSServerException" name="factureWSServerException" wsaw:Action="urn:searchFactureOrdinairefactureWSServerException"/>
            <wsdl:fault message="ns:factureWSDataNotFoundException" name="factureWSDataNotFoundException" wsaw:Action="urn:searchFactureOrdinairefactureWSDataNotFoundException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="factureWSSoap11Binding" type="ns:factureWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchFacture">
            <soap:operation soapAction="urn:searchFacture" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="factureWSServerException">
                <soap:fault use="literal" name="factureWSServerException"/>
            </wsdl:fault>
            <wsdl:fault name="factureWSDataNotFoundException">
                <soap:fault use="literal" name="factureWSDataNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchFactureOrdinaire">
            <soap:operation soapAction="urn:searchFactureOrdinaire" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="factureWSServerException">
                <soap:fault use="literal" name="factureWSServerException"/>
            </wsdl:fault>
            <wsdl:fault name="factureWSDataNotFoundException">
                <soap:fault use="literal" name="factureWSDataNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="factureWSSoap12Binding" type="ns:factureWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchFacture">
            <soap12:operation soapAction="urn:searchFacture" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="factureWSServerException">
                <soap12:fault use="literal" name="factureWSServerException"/>
            </wsdl:fault>
            <wsdl:fault name="factureWSDataNotFoundException">
                <soap12:fault use="literal" name="factureWSDataNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchFactureOrdinaire">
            <soap12:operation soapAction="urn:searchFactureOrdinaire" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="factureWSServerException">
                <soap12:fault use="literal" name="factureWSServerException"/>
            </wsdl:fault>
            <wsdl:fault name="factureWSDataNotFoundException">
                <soap12:fault use="literal" name="factureWSDataNotFoundException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="factureWSHttpBinding" type="ns:factureWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="searchFacture">
            <http:operation location="searchFacture"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchFactureOrdinaire">
            <http:operation location="searchFactureOrdinaire"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="factureWS">
        <wsdl:port name="factureWSHttpSoap11Endpoint" binding="ns:factureWSSoap11Binding">
            <soap:address location="http://192.168.111.102:8080/axis2/services/factureWS.factureWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="factureWSHttpSoap12Endpoint" binding="ns:factureWSSoap12Binding">
            <soap12:address location="http://192.168.111.102:8080/axis2/services/factureWS.factureWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="factureWSHttpEndpoint" binding="ns:factureWSHttpBinding">
            <http:address location="http://192.168.111.102:8080/axis2/services/factureWS.factureWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
