Webservices/prestatiareWS.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.meg.tn" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2207="http://model.referentiel.commons.tn/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2205="http://dto.meg.tn/xsd" xmlns:ax2206="http://model.meg.tn/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.meg.tn">
    <wsdl:documentation>prestatiareWS</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2210="http://dto.meg.tn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.meg.tn">
            <xs:import namespace="http://dto.meg.tn/xsd"/>
            <xs:element name="searchPsWithConvTP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="secteurActivite" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="specialite" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="gouvernorat" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="numPolice" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchPsWithConvTPResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2210:PrestataireDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMntRemboursementPs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="extranetWsInputDto" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMntRemboursementPsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2210:RemboursementPsDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListMntRemboursementPsForOptique">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="numPolice" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idBeneficiare" type="xs:long"/>
                        <xs:element minOccurs="0" name="idAdherent" type="xs:long"/>
                        <xs:element minOccurs="0" name="matriculeAdherent" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateVisite" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idTiers" type="xs:long"/>
                        <xs:element minOccurs="0" name="nid" type="xs:long"/>
                        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="idMedecin" type="xs:long"/>
                        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="natureActe" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListMntRemboursementPsForOptiqueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2210:RemboursementPsDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.referentiel.commons.tn/xsd">
            <xs:complexType name="TableReferentiel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codeRubrique" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="langue" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="libelle" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statut" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="ax2207:TypeReferentiel"/>
                    <xs:element minOccurs="0" name="valeur1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valeur2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valeurLM" nillable="true" type="ax2207:TableReferentiel"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TypeReferentiel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="mere" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nature" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statut" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2209="http://model.meg.tn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.meg.tn/xsd">
            <xs:import namespace="http://model.meg.tn/xsd"/>
            <xs:complexType name="PrestataireDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresse" nillable="true" type="ax2209:Adresse"/>
                    <xs:element minOccurs="0" name="idTiers" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numTelBureau" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numTelFixe" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numTelMobile" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numTelMobile2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secteurActivite" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="specialite" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemboursementPsDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="libelleActe" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mntRestePayer" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="mntTicketModerateur" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="mntTotalOrdonnace" nillable="true" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2208="http://model.referentiel.commons.tn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.meg.tn/xsd">
            <xs:import namespace="http://model.referentiel.commons.tn/xsd"/>
            <xs:complexType name="Adresse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adresse" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="altitude" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="codePostal" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="dateCreation" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="dateModification" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="gouvernorat" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="idEntite" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="nature" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pays" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="statut" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="typeEntite" nillable="true" type="ax2207:TableReferentiel"/>
                    <xs:element minOccurs="0" name="ville" nillable="true" type="ax2207:TableReferentiel"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getListMntRemboursementPsForOptiqueRequest">
        <wsdl:part name="parameters" element="ns:getListMntRemboursementPsForOptique"/>
    </wsdl:message>
    <wsdl:message name="getListMntRemboursementPsForOptiqueResponse">
        <wsdl:part name="parameters" element="ns:getListMntRemboursementPsForOptiqueResponse"/>
    </wsdl:message>
    <wsdl:message name="getMntRemboursementPsRequest">
        <wsdl:part name="parameters" element="ns:getMntRemboursementPs"/>
    </wsdl:message>
    <wsdl:message name="getMntRemboursementPsResponse">
        <wsdl:part name="parameters" element="ns:getMntRemboursementPsResponse"/>
    </wsdl:message>
    <wsdl:message name="searchPsWithConvTPRequest">
        <wsdl:part name="parameters" element="ns:searchPsWithConvTP"/>
    </wsdl:message>
    <wsdl:message name="searchPsWithConvTPResponse">
        <wsdl:part name="parameters" element="ns:searchPsWithConvTPResponse"/>
    </wsdl:message>
    <wsdl:portType name="prestatiareWSPortType">
        <wsdl:operation name="getListMntRemboursementPsForOptique">
            <wsdl:input message="ns:getListMntRemboursementPsForOptiqueRequest" wsaw:Action="urn:getListMntRemboursementPsForOptique"/>
            <wsdl:output message="ns:getListMntRemboursementPsForOptiqueResponse" wsaw:Action="urn:getListMntRemboursementPsForOptiqueResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMntRemboursementPs">
            <wsdl:input message="ns:getMntRemboursementPsRequest" wsaw:Action="urn:getMntRemboursementPs"/>
            <wsdl:output message="ns:getMntRemboursementPsResponse" wsaw:Action="urn:getMntRemboursementPsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchPsWithConvTP">
            <wsdl:input message="ns:searchPsWithConvTPRequest" wsaw:Action="urn:searchPsWithConvTP"/>
            <wsdl:output message="ns:searchPsWithConvTPResponse" wsaw:Action="urn:searchPsWithConvTPResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="prestatiareWSSoap11Binding" type="ns:prestatiareWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getListMntRemboursementPsForOptique">
            <soap:operation soapAction="urn:getListMntRemboursementPsForOptique" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMntRemboursementPs">
            <soap:operation soapAction="urn:getMntRemboursementPs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPsWithConvTP">
            <soap:operation soapAction="urn:searchPsWithConvTP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="prestatiareWSSoap12Binding" type="ns:prestatiareWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getListMntRemboursementPsForOptique">
            <soap12:operation soapAction="urn:getListMntRemboursementPsForOptique" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMntRemboursementPs">
            <soap12:operation soapAction="urn:getMntRemboursementPs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPsWithConvTP">
            <soap12:operation soapAction="urn:searchPsWithConvTP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="prestatiareWSHttpBinding" type="ns:prestatiareWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getListMntRemboursementPsForOptique">
            <http:operation location="getListMntRemboursementPsForOptique"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMntRemboursementPs">
            <http:operation location="getMntRemboursementPs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchPsWithConvTP">
            <http:operation location="searchPsWithConvTP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="prestatiareWS">
        <wsdl:port name="prestatiareWSHttpSoap11Endpoint" binding="ns:prestatiareWSSoap11Binding">
            <soap:address location="http://192.168.111.102:8080/axis2/services/prestatiareWS.prestatiareWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="prestatiareWSHttpSoap12Endpoint" binding="ns:prestatiareWSSoap12Binding">
            <soap12:address location="http://192.168.111.102:8080/axis2/services/prestatiareWS.prestatiareWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="prestatiareWSHttpEndpoint" binding="ns:prestatiareWSHttpBinding">
            <http:address location="http://192.168.111.102:8080/axis2/services/prestatiareWS.prestatiareWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
